# --- App settings ---

# Generate with: python -c "import secrets; print(secrets.token_hex(32))"
secret_key=Random__safety_string
db_url=postgresql+asyncpg://username:pass@host:port/db_name
test_db_url=postgresql+asyncpg://username:pass@host:port/test_db_name
algorithm=HS256
redis_host=redis
access_expire_minutes=30
refresh_expire_days=15
redis_port=6379
allowed_origins='["http://localhost:8000", "http://127.0.0.1:8000"]'

# --- Docker Postgres init ---

POSTGRES_USER=username
POSTGRES_PASSWORD=pass
POSTGRES_DB=db_name